h1 {
  text-align: center;
  font-family: sans-serif;
}
img {
  float: left;
  margin-right: 35px;
  margin-left: 35px;
}
.panel-info {
  background-color: #e6f9ff;
  margin-top: 50px;
}
li {
  font-weight: bold;
}
.aboutme {
  text-align: center;
}
body {
  background-color: #e6faff;
}
